/*  Step-1.1 You don't need to put a position on this element because 
it is already at the top of the screen */

.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
    padding-top: 20px;
    padding-right: 28px;
}

/* Step-1.2 I would suggest using float to get this container in its 
desired location*/

.content-left {
    width: 33.8%;
    /*this height is a placeholder. You will need to make some adjustments 
    to get this container to look like the design */
    height: 750px;
    background: #565555;
    float: left;
}


/* Step-1.3 I would suggest using float to get this container in its 
desired location. */

.content-mid {
    width: 66.2%;
    /*this height is a placeholder. You will need to make some adjustment 
    to get this container to look like the design */
    height: 750px;
    background: #B0B0B0;
    float: right;
    padding-top: 100px;
    padding-left: 100px;
}

/* Step-1.4 you're going to want to add a positioning property to get 
this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
    float: left;

}


/* Step-2.1 One option to align this container to the center would be 
to give it a margin-left: auto; and margin-right: auto; */

.profile-image-container {
    background: #96F0F2;
    width: 272px;
    height: 220px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

/* Step-2.2  One option to align this container to the center would be 
to give it a margin-left: auto; and margin-right: auto; */

.profile-links-container {
    background: #12F3F7;
    width: 272px;
    height: 428px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/* Step-2.3  You can either use float left or position absolute to get 
this element to in the desired location */

.logo-container {
    background: #4F4949;
    width: 272px;
    height: 56px;
    margin-left: 28px;
    float: left;
}


/* Step-2.4 You can either use float left or position absolute to get 
this element to in the desired location*/

.menu-container {
    background: #4F4949;
    width: 42px;
    height: 56px;
    float: right;
}

/* Step-3.1  Not much to do here except add a width */
.content-mid-header {
    background: #444;
    width: 432px;
    height: 100px;
}


/* Step-3.3 add a margin top to give this container some space. Also you're going to want to set the  margin-left and margin-right to auto. This will give equal distance left and right to the container--essentially--centering the container   */
.content-container {
    background: #D8D8D8;
    width: 432px;
    height: 512px;
}


/* Step-3.2  Remember to add some padding and text-align*/

.content {
    text-align: center;
    padding-top: 148px;
}


